<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/gestor-login/gestor-login.html">
<link rel="import" href="/src/gestor-login/venta-preaprobados.html">

<dom-module id="gestor-app">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 500px;
        height: 500px;
      }

    </style>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Icons form Google-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="/css_propio/styles.css">

    <div class="container">
      <div class="" hidden="{{isView}}">
        <div class="">
          <gestor-login id="login"></gestor-login>
        </div>
      </div>
      <div class="" hidden="{{isLogged}}">
        <div class="">
          <venta-preaprobados id="preaprobado"></venta-preaprobados>
        </div>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorApp  extends Polymer.Element {
      static get is() { return "gestor-app"; }
      ready(){
        super.ready()
        this.$.login.addEventListener('OK', e => {this.irPreaprobado(e)})
      }
      static get properties() {
        return {
          isLogged: {
            type: Boolean,
            value: true
          },
          isView: {
            type: Boolean,
            value: false
          }
        };
      }

      irPreaprobado(e){
        this.isLogged = false;
        this.isView = true;
        this.$.preaprobado.mostrarPreaprobados(e.detail);
      }

    }

    window.customElements.define(GestorApp.is, GestorApp);
  </script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</dom-module>
