<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-login">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 500px;
        height: 500px;
      }

    </style>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Icons form Google-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="/css_propio/styles.css">

    <div class="container">
      <!--h1 class="col-lg-12">Gestor de Clientes</h1-->
      <!--<h1 style="color: blue" > GESTOR PREAPROBADOS </h1>-->
    	<div class="d-flex justify-content-center h-100">
    		<div class="card">
    			<div class="card-header">
    				<h3>Sign In</h3>
    				<div class="d-flex justify-content-end social_icon">
    					<a href="https://www.facebook.com"><span><i class="fab fa-facebook-square"></i></span></a>
            <!--span><i class="fab fa-google-plus-square"></i></span-->
              <a href="https://plus.google.com"><span><i class="fab fa-google-plus-square"></i></span></a>
    					<!--span><i class="fab fa-twitter-square"></i></span-->
              <a href="https://www.twitter.com"><span><i class="fab fa-twitter-square"></i></span></a>
    				</div>
    			</div>
    			<div class="card-body">
    				<form>
    					<div class="input-group form-group">
    						<div class="input-group-prepend">
    							<span class="input-group-text"><i class="fas fa-user"></i></span>
    						</div>
                <input type="email" value={{email::input}} class="form-control" placeholder="username" id="user">
    					</div>
    					<div class="input-group form-group">
    						<div class="input-group-prepend">
    							<span class="input-group-text"><i class="fas fa-key"></i></span>
    						</div>
    						<input type="password" value={{password::input}} class="form-control" placeholder="password" id="pwd">
    					</div>
    					<div class="row align-items-center remember">
    						<input type="checkbox">Remember Me
    					</div>
    					<div class="form-group">
    						<input type="submit" value="Login" class="btn float-right login_btn" on-click="validarLogin">
    					</div>
    				</form>
    			</div>
    			<div class="card-footer">
    				<div class="d-flex justify-content-center links">
    					Don't have an account?<a href="#">Sign Up</a>
    				</div>
    				<div class="d-flex justify-content-center">
    					<a href="#">Forgot your password?</a>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorLogin  extends Polymer.Element {
      static get is() { return "gestor-login"; }
      static get properties() {
        return {
          user: {
            type: Array,
            notify: true
          },
          email: {
             type: String
           } ,
          password: {
            type: String
          }
        };
      }

      validarLogin(){
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        localStorage.setItem("json", JSON.stringify(loginData));
        var mail = this.email;
        var pwd = this.password;
        var param = '/'+mail+'/'+pwd;
        var urlBase = "http://localhost:3000/login";
        var url = urlBase+param;
        var request = new XMLHttpRequest();
        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.user = JSON.parse(request.responseText);
        console.log(this.user);
        this.dispatchEvent(new CustomEvent('OK', {detail:this.user}));
      }

    }

    window.customElements.define(GestorLogin.is, GestorLogin);
  </script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</dom-module>
