<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="venta-preaprobados">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 500px;
        height: 500px;
      }

    </style>
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="/css_propio/styles-venta.css">

    <div class="container">
    <div class="text-center">
      <picture>
        <img src="http://pyme-dot-bbva-bancomer-bcacomercial.appspot.com/images/BBVA_tagline_es_blue.png" class="img-fluid" alt="Preaprobados BBVA" width="80%" height="20%">
      </picture>
    </div>
    <h1 class="display-1" > GESTOR PREAPROBADOS </h1>

    <div class="container-fluid">
      <div class="alert alert-light" role="alert">
        <h3 class="title-mov">Preaprobados</h3>
      </div>
      <div class="card">
          <div class="card-body">
              <div class="table-wrapper-2">

                  <table class="table table-striped table-responsive-md">
                      <thead class="thead-dark mdb-color lighten-4">
                          <tr>
                            <td>
                              <th class="th-lg">Numero de cliente</th>
                            </td>
                            <td>
                              <input type="text" value={{idcliente::input}} class="form-control" placeholder="username" id="user">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <th class="th-lg">Codigo Campaña</th>
                            </td>
                            <td>
                              <input type="text" value="[[campana]]" class="form-control" placeholder="campana" id="pwd">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <th class="th-lg">Producto</th>
                            </td>
                              <td>
                              <input type="text" value="[[producto]]" class="form-control" placeholder="" id="producto">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <th class="th-lg">Valor Minimo</th>
                            </td>
                            <td>
                              <input type="text" value="[[valormin]]" class="form-control" placeholder="" id="valormin">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <th class="th-lg">valor Maximo</th>
                            </td>
                            <td>
                              <input type="text" value="[[valormax]]" class="form-control" placeholder="" id="valormax">
                            </td>
                          </tr>
                      </thead>
                  </table>
                  <tbody>
                    <div class="form-group">
                      <input type="submit" value="Modificar" class="btn float-right login_btn" on-click="mostrarPreaprobados">
                      <br/>
                      <input type="submit" value="Eliminar" class="btn float-right login_btn" on-click="mostrarPreaprobados">
                     </br/>
                     <input type="submit" value="Insertar" class="btn float-right login_btn" on-click="mostrarPreaprobados">
                    </div>
                  </tbody>

              </div>
          </div>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VentaPreaprobados  extends Polymer.Element {
      static get is() { return "venta-preaprobados"; }

      static get properties() {
        return {
          cliente: {
            type: Array,
            notify: true
          },
          aprobados: {
            type: Array,
            notify: true
          },
          idcliente: {
             type: String
           } ,
          campana: {
            type: String
          },
          producto: {
             type: String
           },
           valormin: {
              type: String
            },
            valormax: {
               type: String
             }
        };

      }

      mostrarPreaprobados(user){
        localStorage.setItem("json", JSON.stringify(user));
        this.cliente = user;
        this.idcliente = this.cliente[0].idusuario;
        var param = '/'+this.idcliente;
        var urlBase = "http://localhost:3000/preaprobado";
        var url = urlBase+param;
        var request = new XMLHttpRequest();
        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.aprobados = JSON.parse(request.responseText);
        console.log(this.aprobados);
        this.nombre = this.aprobados[0].idcliente ;
        this.campana = this.aprobados[0].campana;
        this.producto = this.aprobados[0].producto;
        this.valormin = this.aprobados[0].valormin;
        this.valormax = this.aprobados[0].valormax;
        alert('valor: '+this.aprobados[0]._id);
      }

    }

    window.customElements.define(VentaPreaprobados.is, VentaPreaprobados);
  </script>

</dom-module>
